@import "./reset.css";

:root {
  --background-color-one: #202020;
  --background-color-two: rgb(36, 36, 36);
  --dialog-background-color: rgba(0, 0, 0, 0.877);
  --font-color-one: #ffffff;
  --font-color-two: #bcbcbc;
  --footer-background: rgba(251, 251, 251, 0);
  --background-mask: rgba(0, 0, 0, 0.7);
  --action-button-color: rgb(55, 210, 70);
  --input-background-color: rgba(26, 26, 26, 0.863);
  --input-border-color: rgba(240, 235, 235, 0.831);
  --shadow: -16px 13px 19px -3px rgba(0, 0, 0, 0.122);
}

* {
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-one);
  color: var(--font-color-two);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

.body {
  width: 100svw;
  height: 100svh;
  background-color: var(--background-color-one);
  margin: 0 auto;
  position: absolute;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Auxilary classes */

.container {
  width: min(100% - 90px, 1080px);
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
} 

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  text-align: center;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-40 {
  gap: 40px;
}

.menu-window {
  width: 300px;
  background-color: var(--background-color-one);
  position: fixed;
  z-index: 999;
}

.main-window {
  width: calc(100% - 300px);
  position: relative;
  z-index: 1;
  left: 300px;
}

/*---------------*/
/*-----Header----*/
/*---------------*/

header {
  color: var(--font-color-two);
  line-height: 56px;
  background-color: var(--background-color-one);
  height: 60px;
  width: calc(100% - 300px);
  position: fixed;
  z-index: 999;
}

.header-content {
  display: flex;
  
}

.header {
  height: 56px;
}

.logo-img {
  background: rgba(255, 255, 255, 0) url(../img/happify-logo.png) center / cover no-repeat;
  width: 50px;
  height: 40px;
  margin-top: 2px;
}

nav {
  display: flex;
}

.control-panel{
  width: 30%;
  display: flex;
  justify-content: center;
}

button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--font-color-two);
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  display: flex;
  flex-shrink: 0;
}

.play-button {
  color: var(--font-color-one);
}

button + button {
  margin-left: 5px;
}

.now-playing-cover {
  width:50px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-one);
  border: var(--background-color-two) solid 0.5px;
  border-radius: 2px;
  margin: 10px 0px;
}

.now-playing-info {
  width: 40%;
  height: 100%;
  background-color: var(--background-color-two);
  border: var(--background-color-two) solid 0.5px;
  border-radius: 2px;
  margin: 10px 0px;
}

.volume-panel {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.volume {
  margin: 25px 0px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.volume svg {
  margin-left: 2px;
}

input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  width: 60%; /* Full-width */
  height: 3px; /* Height of the slider */
  background: #dddddd00; /* Background color */
  border: #dddddd solid 0.5px; /* Border color */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Slightly transparent */
  transition: opacity 0.2s; /* Transition effect */
}

input[type="range"]:hover {
  opacity: 1; /* Fully opaque when hovered */
}

/* Customize the thumb (the draggable part of the slider) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--font-color-one);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--font-color-one);
  cursor: pointer;
}

.option-panel {
  width: 100%;
  display: flex;
  justify-content: center;
}


/*---------------*/
/*-----Menu------*/
/*---------------*/

main {
  background-color: var(--background-color-two);
  position: relative;
  top: 60px;
  height: 100vh;
}

.search-box {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-two);
  width: 220px;
  margin: 10px auto;
  border-radius: 5px;
  svg {
    margin: 10px;
  }
  input {
    border: none;
    background-color: #00000000;
    color: var(--font-color-two);
  }
}

a {
  text-decoration: none;
  color: var(--font-color-two);
}

section {
  width: 220px;
  margin: 10px auto;
  ul {
    margin: auto 20px;
    svg {
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}


/*---------------*/
/*Spotify-Embeded*/
/*---------------*/

.spotify-embeded {
  top: 60%;
  background-color: var(--background-color-two);
}

.home-container {
  width: (100vw - 240px);
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color-two);
  h3 {
    color: var(--font-color-one);
    margin: 10px 0px;
  }
  img {
    width: 200px;
    height: 250px;
    border-radius: 5px;

  }
  
}

.playlist-images {
  display: flex;
  a + a {
    margin-left: 20px;
  }
  a {

  width: 200px;
  height: 200px;

  }
}
.playlist-info {
  display: flex;
  align-items: center;
  gap: 40px;
  h4 {
    color: var(--font-color-one);
    margin: 10px 0px;
  }
  p {
    margin: 10px 0px;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 20px 0px;
  }
}

.playlist {
  margin: 0px 40px;
  background-color: var(--background-color-two);
  table {
    width: 100%;
    border-collapse: collapse;
    th {
      color: var(--font-color-one);
    }
    td {
      padding: 5px 5px;
      color: var(--font-color-two);
      vertical-align: middle;
    }
    tr:hover {
      background-color: var(--background-color-one);
    }
  }
}

.track-image {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }
}

.featured-artist {
  color: var(--font-color-two);
  font-size: 12px;
}